.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
.colored-back{
  background-color: rgba(0, 0, 0, 0.5);
}
.links{
  color: white;
  font-weight: bold;
}
.container{
  align-self: center;
  position: relative;
  width:50%;
  height:50%;
  border: 2px solid white;
  padding-bottom: 5px;
  padding-left: -10px;
  padding-right: -10px;  
  margin: 0 auto 20px;
}
.users-container{
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: -10px -10px -10px -10px;
  
}
.inputs{
  width: auto;
  height: auto;
  border: 2px solid white;
  margin: 10px 10px 10px 10px;

}

.items{
  float:left;
}
.users {
  float: left;
  justify-self: center;
  width: auto;
  height: auto;
  border: 2px solid white;
  margin: 10px 10px 10px 10px;

}
/* cercle de chargement de données */
.loader {     
  position: absolute;
  border: 16px solid var(--fourth); /* Light grey */
  border-top: 16px solid  var(--third); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  right: 45%;
  top:50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress-bar{
  height: 5px;
  background: var(--third);
  margin-top: 20px;
}
