.App {
  text-align: center;
  width: auto;
  height: auto;
}
.colored-back{
  background-color: rgba(0, 0, 0, 0.5);
}
.links{
  color: white;
  font-weight: bold;
}
.container{
  align-self: center;
  position: relative;
  width:50%;
  height:50%;
  border: 2px solid white;
  padding-bottom: 5px;
  padding-left: -10px;
  padding-right: -10px;  
  margin: 0 auto 20px;
}
.users-container{
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: -10px -10px -10px -10px;
  
}
.inputs{
  width: auto;
  height: auto;
  border: 2px solid white;
  margin: 10px 10px 10px 10px;

}

.items{
  float:left;
}
.users {
  float: left;
  justify-self: center;
  width: auto;
  height: auto;
  border: 2px solid white;
  margin: 10px 10px 10px 10px;

}
/* cercle de chargement de données */
.loader {     
  position: absolute;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  right: 45%;
  top:50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress-bar{
  height: 5px;
  background: #3498db;
  margin-top: 20px;
}

/*  button CSS */
.buttons{
  justify-self: center;
  width: auto;
  height: auto;
  border: 2px solid white;
  margin: 10px 10px 10px 10px;
}

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 6px;
  background: linear-gradient(
    to left,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 8%,
    rgb(0, 0, 0) 92%,
    rgb(1, 0, 17) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 6px 13px;
  border-radius: 6px;
  border-color: white;
  font-size: 0.9rem;
  color: white;
  background: rgb(0, 0, 0);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 360px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 6px 24px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

